In [1]:
##Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
##Suppose the following input is supplied to the program:
##34,67,55,33,12,98
##Then, the output should be:
##['34', '67', '55', '33', '12', '98']
##('34', '67', '55', '33', '12', '98')

In [3]:
nums = input("Insert a list of numbers separated by comma")
listb = nums.split(',')

tupleb = tuple(listb)

print(listb)
print(tupleb)

Insert a list of numbers separated by comma1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')