# tuples
<br>
tuples are like lists but they are immutable (no .append() method)
<br>
If you need a list but you don't need to modify it, simply use a tuple. It will be more efficient!

In [ ]:
my_tuple = 1, 2, 3, 4
tupla = (1, 2, 3, 4)   # parenthesis unneded, but for convention and sanity
this_is_an_int = (1)
still_an_int = 1
this_is_a_tuple = 1, 2
still_a_tuple = 1,

In [ ]:
type(my_tuple)

tuple

Watch out! Immutable objects can still be redefined! You only need to use the "=" sign

In [ ]:
my_tuple = "a"

In [ ]:
type(my_tuple)

str

# What's your favourite TV series and it's quote?

In [ ]:
quotes = {}
# it's the same as:
# quotes = dict()

What's your favourite TV series?Suits
What' a famous quote from that show?Let them hate, just make sure they spell your name right.

In [ ]:
while True:
  tv_show = input("Tell me your favourite TV series or insert Interrupt to leave the program").title()
  
  if tv_show == "Interrupt":
    break

  elif tv_show in quotes:
    print(quotes[tv_show])
  else:
    print("I don't know that tv series!")
    quote = input("What' a famous quote from that show?")
    quotes[tv_show] = quote

Tell me your favourite TV series or insert Interrupt to leave the programdOCTOR who
Geronimo!
Tell me your favourite TV series or insert Interrupt to leave the programInterrupt

In [ ]:
for show in quotes:
  print(show, ":", quotes[show])

Suits : Let them hate, just make sure they spell your name right.
Doctor Who : Geronimo!

# Looping over couples of variables

In [ ]:
for key, value in quotes.items():
  print("This is the key:", key)
  print("This is the value:", value)
  print("-" * 20)

This is the key: Suits
This is the value: Let them hate, just make sure they spell your name right.
--------------------
This is the key: Doctor Who
This is the value: Geronimo!
--------------------

# Functions modifying variables

In [ ]:
def f(x):
   # this will not automatically change the original x OUTSIDE the function
  x = x * 2    
  print("the result of f() is", x)

y = [10, ]
f(y)
print("y is now:", y)


# variables defined inside functions are not accessible from outside
# this will give an error
try:
  print(x)

# I catch the error so that code is not stopped
except NameError as e:
  print("NameError:", e)

the result of f() is (10, 10)
y is now: (10,)
NameError: name 'x' is not defined

In [ ]:
y = 10
f(y)
print("y is now:", y)

the result of f() is 20
y is now: 10

In [ ]:
def f2(lista):
   # this will automatically CHANGE the original lista OUTSIDE the function
  lista.append(10)
  print("lista after append", lista)
  # instead this line will NOT change the lista outside the function
  lista = lista + [20]
  print("lista after sum", lista)

y2 = [10]
f2(y2)

print("y2 is now", y2)

lista after append [10, 10]
lista after sum [10, 10, 20]
y2 is now [10, 10]

In [ ]:
f2(y2)
print(y2)

[10, 10, 10]

# Bank Account Program

In [ ]:
accounts = {"Ben": 100, "Lorenzo": 0}

In [ ]:
def withdraw(person, amount, bank_accounts):
  # watch out! dicts are mutable, so they can be modified from inside functions!!!
  # if you don't want that to happen, you need to create a copy of the dict and
  # modify the copy instead
  
  # bank_accounts = bank_accounts.copy()
  if person in bank_accounts and bank_accounts[person] >= amount:
    print("Cash withdrawn:", amount)
    bank_accounts[person] = bank_accounts[person] - amount
  return bank_accounts

def deposit(person, amount, bank_accounts):
  
  # bank_accounts = bank_accounts.copy()
  if person in bank_accounts
    print("Cash deposited:", amount)
    bank_accounts[person] = bank_accounts[person] + amount
  else:
    print("You mut open an account first!")
  return bank_accounts

In [ ]:
withdraw("Ben", 50, accounts)

Cash withdrawn: 50

{'Ben': 50, 'Lorenzo': 0}

In [ ]:
accounts

{'Ben': 100, 'Lorenzo': 0}

# Escape characters
strings that start with "\" and then other strings

## \n = new line

In [ ]:
print("\nHi\nHow are you?")

Hi
How are you?

## \t = tab

In [ ]:
print("\tThis is some \ttext")

	This is some 	text

## Errors
Watch out when writing backslash

In [ ]:
# this will give an error because \U does not exist
print("Hi\U")

SyntaxError: ignored