In [1]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [3]:
my_list = [1, 2, 3, 1]
my_list.remove(1)
print(my_list)

[2, 3, 1]

In [4]:
my_list = [1, 2, 3, 1]
del my_list[1]
print(my_list)

[1, 3, 1]

## Recap

In [5]:
name = "lorenzo" # this is a str
surname = 'cerreta' # this is a str

full_name = name + " " + surname
print(full_name)

lorenzo cerreta

In [6]:
print(name * 3)

lorenzolorenzolorenzo

In [7]:
username = input("what's your name?") # input will always return a str
print("Hi", username)

what's your name?Mark
Hi Mark

In [9]:
age = input("How old are you?")
age = int(age)

print("I am", age+2, "years old")

# we need to convert ints to str, if we want to concatenate them
print("I am " + str(age+2) + " years old")

How old are you?27
I am 29 years old
I am 29 years old

In [11]:
count = 0
while count < 2:
  print(count, "elem shown")
  count = count + 1
  # we can also use
  # count += 1

0 elem shown
1 elem shown

# Exercises

In [23]:
# sum all numbers in lista until the first even number (included)
# expected result: 8
lista = [1, 5, 'Hey', -2, 4, 3, 7]

In [25]:
tot = 0
for n in lista:
  if type(n) is int:
    tot = tot + n
    if n % 2 == 0:
      break

print(tot)

4

In [26]:
# add to the dictionary a name with its phone number
# result should be phone_book = {'Python': 1}
phone_book = {}

In [27]:
phone_book['Python'] = 1
print(phone_book)

{'Python': 1}

In [28]:
phone_book['Python'] + 2

3

In [29]:
# constantly ask the user for new names and phone numbers
# to add to the phone book, then save them

phone_book = {}

In [32]:
while True:
  contact = input("Insert contact:")
  if contact == "stop":
    break
  phone = input("Insert phone num:")
  phone_book[contact] = int(phone)
  print(phone_book)

Insert contact:stop

In [33]:
# Write a program which will find all such numbers which are divisible by 7
# but are not a multiple of 5,
# between 2000 and 3200 (both included).
# The numbers obtained should be printed in a comma-separated sequence on a single line.

# Hint: use range(#begin, #end) function

In [36]:
sequence = ""
for n in range(2000, 3201):
  if (n % 7 == 0 and n % 5 != 0):
    sequence = sequence + str(n) + ","
print(sequence)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [38]:
##With a given integer number n, write a program to generate a dictionary
##that contains (i, i*i) such that is an integral number between 1 and
##n (both included). and then the program should print the dictionary.

##Suppose the following input is supplied to the program:
##8
##Then, the output should be:
##{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [43]:
n = input ("number")

def my_program(n):
  dictionary = {}
  # dictionary = dict() # it's the same
  for i in range(1, int(n)+1):
    dictionary[i] = i ** 2
  return dictionary

print(my_program(n))

number7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}