In [3]:
import pandas as pd
import numpy as np

### Step 1. Open the csv file and assign it to a dataframe called mtg

In [6]:
mtg = pd.read_csv('https://raw.githubusercontent.com/ElLorans/PythonCrashCourse/main/notebooks/mtg.csv',
                  error_bad_lines=False)

b'Skipping line 3: expected 19 fields, saw 20\nSkipping line 14170: expected 19 fields, saw 20\n'

### Step 2. See the first 5 entries

In [7]:
mtg.head()

                          Name                     Type  ... Comments To trade
0                        _____  Creature - Shapeshifter  ...      NaN        0
1   Rumors of My Death . . .""              Enchantment  ...      NaN        0
2  1997 World Championships Ad                     Card  ...      NaN        0
3  1998 World Championships Ad                     Card  ...      NaN        0
4  1999 World Championships Ad                     Card  ...      NaN        0

[5 rows x 19 columns]

### Step 3. What is the number of observations in the dataset?

In [8]:
mtg.shape #will give you both (observations/rows, columns)

(51567, 19)

In [9]:
mtg.shape[0] #will give you only the observations/rows number

51567

### Step 4. What is the number of columns in the dataset?

In [10]:
print(mtg.shape) #will give you both (observations/rows, columns)
print(mtg.shape[1]) #will give you only the columns number

#OR

mtg.info() #Columns: 163 entries

(51567, 19)
19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51567 entries, 0 to 51566
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 51567 non-null  object
 1   Type                 51567 non-null  object
 2   Color                51567 non-null  object
 3   Rarity               51567 non-null  object
 4   Author               51463 non-null  object
 5   Power                51563 non-null  float64
 6   Toughness            51566 non-null  float64
 7   Mana cost            43887 non-null  object
 8   Converted mana cost  51567 non-null  int64
 9   Count                51567 non-null  int64
 10  Foil count           51567 non-null  int64
 11  Price                51567 non-null  float64
 12  Foil price           51567 non-null  float64
 13  Number               51567 non-null  int64
 14  Set                  51567 non-null  object
 15  ID                   51567 non-null  int64
 16  Multiverse ID        51567 non-null  int64
 17  Comments             0 non-null      float64
 18  To trade             51567 non-null  int64
dtypes: float64(5), int64(7), object(7)
memory usage: 7.5+ MB

### Step 5. Print the name of all the columns.

In [11]:
mtg.columns

Index(['Name', 'Type', 'Color', 'Rarity', 'Author', 'Power', 'Toughness',
       'Mana cost', 'Converted mana cost', 'Count', 'Foil count', 'Price',
       'Foil price', 'Number', 'Set', 'ID', 'Multiverse ID', 'Comments',
       'To trade'],
      dtype='object')

### Step 6. What is the name of 10th column?

In [13]:
mtg.columns[10]

'Foil count'

### Step 7. What is the type of the observations of the 105th column?

In [15]:
mtg.dtypes['Foil count']

dtype('int64')

### Step 8. How is the dataset indexed?

In [16]:
mtg.index

RangeIndex(start=0, stop=51567, step=1)

### Step 9. What is the price of the 3835th observation?

In [27]:
mtg.values[3835][11]

16380.0

### Step 10. Filter lines with name == 'Black Lotus'

In [29]:
mtg[mtg.Name == 'Black Lotus']

             Name      Type      Color  ... Multiverse ID Comments  To trade
3831  Black Lotus  Artifact  Colorless  ...             0      NaN         0
3832  Black Lotus  Artifact  Colorless  ...             0      NaN         0
3833  Black Lotus  Artifact  Colorless  ...           600      NaN         0
3834  Black Lotus  Artifact  Colorless  ...           298      NaN         0
3835  Black Lotus  Artifact  Colorless  ...             3      NaN         0

[5 rows x 19 columns]

In [28]:
mtg.query("Name == 'Black Lotus'")

             Name      Type      Color  ... Multiverse ID Comments  To trade
3831  Black Lotus  Artifact  Colorless  ...             0      NaN         0
3832  Black Lotus  Artifact  Colorless  ...             0      NaN         0
3833  Black Lotus  Artifact  Colorless  ...           600      NaN         0
3834  Black Lotus  Artifact  Colorless  ...           298      NaN         0
3835  Black Lotus  Artifact  Colorless  ...             3      NaN         0

[5 rows x 19 columns]