# while loop

The code indented below a while loop will be executed again and again until
the condition after the wile is verified

In [ ]:
solution = 10
answer = input("Insert a number from 1 to 10")
int_answer = int(answer)
count = 1

while int_answer != solution:
  if int_answer > solution:
    print("Try lower")
  else:     # we could also use: "if int_answer < solution:"
            # but "else:" is going to be faster
    print("Try higher")

  print("I am thinking of a number different from", int_answer)
  count = count + 1
  answer = input("Insert a number from 1 to 10")
  int_answer = int(answer)

print("You won after", count, "attemps")

Insert a number from 1 to 107
Try higher
I am thinking of a number different from 7
Insert a number from 1 to 1010
You won after 2 attemps

In [ ]:
# watch out!

# a while loop can get you stuck for ever
while 10 == 10:
  print(10, "is always going to be equal to", 10)
  break  # exit the while loop

10 is always going to be equal to 10

In [ ]:
while True:
  print("This will run indefinitely")
  break    # the "break" will prevent me from getting stuck in a while loop

This will run indefinitely

# Use the tab key in order to indent a block

The tab key is more or less like this:
# <-
# ->

# booleans
<br> True or False

In [ ]:
answer = 10
solution = 10

print(answer == solution)

True

In [ ]:
answer = 7
solution = 10

print(answer == solution)

False

# str.isdigit()
<br>
return True if str is made only of digits, False otherwise

In [ ]:
"10".isdigit()

True

In [ ]:
"er".isdigit()

False

# import
<br>
We can add some other functions that are not automatically available because they are not always required

random is a library containing many functions for generating random numbers

## First approach: import entire library, use library.function()

In [86]:
import random

random.randint(1, 10)

4

## Second approach: import single functions from library
<br>
Useful if you need to import only a couple of functions

In [ ]:
from random import randint
randint(1, 10)

9

## Third approach: import everything
<br>
Don't do it

In [ ]:
from random import *

randint(1, 10)

3

# lists
Collections of objects of different type

In [ ]:
fruits = ["banana", "apple", "kiwi"]

In [ ]:
print(fruits)

['banana', 'apple', 'kiwi']

In [ ]:
fruits

['banana', 'apple', 'kiwi']

In [ ]:
list_of_ints = [1, 2, 6, 7]
list_of_misc = [0.2, 5, 'Python', 'is', 'still fun', '!']

In [ ]:
fruits[0]

'banana'

In [ ]:
# .append() changes the list in-place
fruits.append("pear")
print(fruits)

['banana', 'apple', 'kiwi', 'pear']

In [ ]:
fruits + ["dragon fruit"]

['banana', 'apple', 'kiwi', 'pear', 'dragon fruit']

In [ ]:
fruits * 2

['banana', 'apple', 'kiwi', 'pear', 'banana', 'apple', 'kiwi', 'pear']

# for loop
allow us to repeat operations for each element in an iterable (something we can use a for loop over)

In [ ]:
for fruit in fruits:
  print(fruit)

banana
apple
kiwi

In [ ]:
for a in fruits:
  print(a)

banana
apple
kiwi
pear

# dict
unordered mapping of key-value pairs.
<br>
Keys can appear only once

In [ ]:
stock_prices = {
    "AMZN": 100,
    "TSLA": 80,
    "GOOGL": 97,
    "MSFT": 98,
    "AMZN": 1000,   # this is going to overwrite the first "AMZN"
                }

In [ ]:
for key in stock_prices:
  print(key)

AMZN
TSLA
GOOGL
MSFT

In [ ]:
stock_prices["GOOGL"]

97

In [ ]:
stock_prices["PLTR"] = 32
stock_prices

{'AMZN': 1000, 'GOOGL': 97, 'MSFT': 98, 'PLTR': 32, 'TSLA': 80}

In [ ]:
print(stock_prices)

{'AMZN': 1000, 'TSLA': 80, 'GOOGL': 97, 'MSFT': 98, 'PLTR': 32}

In [ ]:
companies = {
    "AMZN": [100, "Bezos"],
    "TSLA": [80, "Musk"],
    "GOOGL": [97, "Page"],
    "MSFT": [98, "Gates"],
    "AMZN": [1000, "Bezos"],   # this is going to overwrite the first "AMZN"
                }

In [ ]:
companies

{'AMZN': [1000, 'Bezos'],
 'GOOGL': [97, 'Page'],
 'MSFT': [98, 'Gates'],
 'TSLA': [80, 'Musk']}

In [ ]:
companies_info = {
    "AMZN": {"Price": 100, "Founder": "Bezos"},
    "TSLA": {"Price": 80, "Founder": "Musk"},
    "GOOGL": {"Price": 97, "Founder": "Page"},
    "MSFT": {"Price": 98, "Founder": "Gates"},
    "AMZN": {"Price": 1000, "Founder": "Bezos"},   # this is going to overwrite the first "AMZN"
                }

In [ ]:
companies_info

{'AMZN': {'Founder': 'Bezos', 'Price': 1000},
 'GOOGL': {'Founder': 'Page', 'Price': 97},
 'MSFT': {'Founder': 'Gates', 'Price': 98},
 'TSLA': {'Founder': 'Musk', 'Price': 80}}

# functions

In [ ]:
def greet():
  print("Hi")

In [ ]:
greet()

Hi

In [ ]:
def greet_name(name):
  print("Hi", name)

In [ ]:
greet_name("Sebastien")

Hi Sebastien

In [ ]:
def greet_us(name1, name2):
    print('Hello', name1, 'and', name2)
greet_us("Lorenzo", "Andrea")

Hello Lorenzo and Andrea

In [67]:
# a function is void if it does not have a return statement or if it returns None
def void_double(x):
  print(x*2)

# a function is non-void if it returns something
def double(x):
  return x*2

In [68]:
double(10)+2

22

In [69]:
void_double(10)+2

20

TypeError: ignored

In [70]:
# impure functions are function that implicitly modify objects
my_list = list()

def an_impure_function(a):
    my_list.append(a)
    return a

In [ ]:
my_list

[]

In [73]:
an_impure_function(10)

10

In [74]:
my_list

[10, 10]

In [ ]:
def a_pure_function(a):
  return my_list + [a]

In [75]:
my_list = a_pure_function(20)

In [ ]:
my_list

[10, 10]

In [76]:
def ask_numbers(sentence="Insert a number"):
  """
  Ask user for 2 inputs and return a list with the 2 inputs.
  """
  number_1 = int(input(sentence))
  number_2 = int(input(sentence))
  return [number_1, number_2]

In [77]:
help(ask_numbers)

Help on function ask_numbers in module __main__:

ask_numbers(sentence='Insert a number')
    Ask user for 2 inputs and return a list with the 2 inputs.

# Handling errors

In [82]:
try:
  num = int("a")

except ValueError:
  print("That is not a number!")

That is not a number!

# in

Don't do this

In [85]:
def verify_presence(el, lista):
  for thing in lista:
    if el == thing:
      return True
  return False

verify_presence("banana", ["apple", "banana", "kiwi"])

True

Do this instead

In [83]:
"banana" in ["apple", "banana", "kiwi"]

True

In [84]:
"dragon fruit" in ["apple", "banana", "kiwi"]

False